body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F5F5DC; /* Eggshell white */
    margin: 0;
    padding: 0;
}

.header-bar {
    background-color: rgba(255, 255, 255, 0.8); /* Translucent */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1em 0;
    margin: 0;
}

.header-bar li {
    margin: 0 1em;
}

.header-bar a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.section {
    padding: 5em 2em 2em;
    min-height: 100vh;
}

.sub-section, .essay, .article {
    background-color: rgba(255, 255, 255, 0.9); /* Translucent theme */
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
}

.icon {
    opacity: 1; /* Opaque */
    width: 50px;
    height: auto;
    display: block;
    margin: 1em auto;
}

.team-member {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 1em;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin: 0.5em 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2em;
    text-align: center;
}
